<p><%= t(".greeting", name: @resource.profile.name) %></p>

<p><%= t(".message") %></p>

<p><%= link_to t(".link"), "#{ENV.fetch('FRONTEND_URL', 'http://localhost:3001')}/login/reset-password?reset_password_token=#{@token}" %></p>

<p><%= t(".ignore") %></p>
<p><%= t(".note") %></p>
